@page "{id}"
@model AnimalProfileModel
@{
    ViewData["Title"] = "";
}

<div class="w-100 d-flex justify-content-center">
    <div class="w-75">
        @if (Model.animal.ImageUrl != null)
        {
            <div class="w-100 animal-profile-image-container">
                <img src="@Model.animal.ImageUrl" alt="Image missing" class="img-animal-profile" />
            </div>
        }
        <div class="d-flex flex-row align-items-center mt-2">
            <div class="d-flex flex-row mr-3">
                <img src="~/icons/perm_identity-black-18dp.svg" alt="User" class="user-icon" />
                <p>@Model.userName</p>
            </div>
            <div class="d-flex flex-row">
                <img src="~/icons/phone-24px.svg" alt="Phone" class="user-icon" />
                <p>@Model.userPhoneNumber</p>
            </div>
        </div>
        <div class="w-100 d-flex flex-row">
            <div class="w-50">
                <div class="d-flex flex-row">
                    <p class="text-primary font-weight-bold mr-2">Name:</p>
                    <p>@Model.animal.Name</p>
                </div>
                <div class="d-flex flex-row">
                    <p class="text-primary font-weight-bold mr-2">Gender:</p>
                    <p>@Model.animal.Gender</p>
                </div>
                <div class="d-flex flex-row">
                    <p class="text-primary font-weight-bold mr-2">Date:</p>
                    <p>@Model.animal.LostDate</p>
                </div>
                <div class="d-flex flex-row">
                    <p class="text-primary font-weight-bold mr-2">Area:</p>
                    <p>@Model.animal.NearArea</p>
                </div>
            </div>
            <div class="w-50">
                <div class="d-flex flex-row">
                    <p class="text-primary font-weight-bold mr-2">Race:</p>
                    <p>@Model.animal.Animal</p>
                </div>
                <div class="d-flex flex-row">
                    <p class="text-primary font-weight-bold mr-2">Colour:</p>
                    <p>@Model.animal.Color</p>
                </div>
                <div class="d-flex flex-row">
                    <p class="text-primary font-weight-bold mr-2">Fur:</p>
                    <p>@Model.animal.FurLenght, @Model.animal.FurPattern</p>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row">
            <p>@Model.animal.Description</p>
        </div>
        <div id="map" style='position:relative;width:600px;height:400px;'></div>
        <style>
            #map {
                width: 100%;
                height: 400px;
                background-color: grey;
            }
        </style>
        <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=Aiys7Ydg3XUbNAlmbCkxgKTymz6NaBdEWPBpA5fEC2_tqhk2Ub27iVBZNXZl4_0k' async defer></script>    </div>
    <script type="text/javascript">
        function GetMap() {
            let lng;
            let lat;
            $.get("https://dev.virtualearth.net/REST/v1/Locations/@Model.animal.NearArea?key=Aiys7Ydg3XUbNAlmbCkxgKTymz6NaBdEWPBpA5fEC2_tqhk2Ub27iVBZNXZl4_0k", function (data, status) {
                console.log(data);
                lng = data.resourceSets[0].resources[0].point.coordinates[0];
                lat = data.resourceSets[0].resources[0].point.coordinates[1];

                var map = new Microsoft.Maps.Map("#map", {
                    credentials: 'Your Bing Maps Key',
                    center: new Microsoft.Maps.Location(lng, lat),
                    mapTypeId: Microsoft.Maps.MapTypeId.terrain,
                    zoom: 16
                });
            });

        }
    </script>
</div>
