@page
@model FoundModel
@{
    ViewData["Title"] = "Dyr som er funnet";


    int totalItems = Model.AnimalLst.Count();
    int itemsPerRow = 3;

    int counter = -1;
}

<div class="w-100 d-flex flex-row">
    <div class="w-50">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="w-50 d-flex justify-content-end align-content-end">
        <a asp-area="" asp-page="/Register">
            <div class="btn btn-primary">Ny annonse</div>
        </a>
    </div>
</div>

<form asp-page="./Lost" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <select type="text" name="SearchAnimal" class="custom-select"
                    asp-items="Html.GetEnumSelectList<MSU_Case_LostAndFound.Model.Animal>()">
                <option value="">Please Select</option>
            </select>|
            <a asp-page="./Lost">Back to full List</a>

        </p>
    </div>
</form>

<div class="w-100 d-flex flex-row justify-content-between">
    @foreach (var item in Model.AnimalLst)
    {
        counter++;

        @if (counter % itemsPerRow == 0)
        {
            Console.WriteLine("Line swap");
        @:</div><div class="w-100 d-flex flex-row justify-content-between">
        }

        <div class="w-25 border p-2 mb-2 d-flex flex-row">
            <div class="w-50 mr-1">
                <img src="@item.ImageUrl" id="animal-picture" class="img-fluid ar-1-1" />
            </div>
            <div class="w-50 d-flex flex-column">
                <div>
                    @item.Name
                </div>
                <div>
                    @item.Gender
                </div>
                <div>
                    <a asp-area="" asp-page="/AnimalProfile" asp-route-id="@item.AnimalId">
                        <div class="btn btn-primary">View</div>
                    </a>
                </div>
            </div>
        </div>
    }
</div>
